.small-container {
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    display: block;
    @include md {
        display: flex;
    }
}

.small-img-row {
    display: flex;
    justify-content: space-around;
}

#imgProduct {
    border-radius: 5px;
    object-fit: cover;
    height: 400px;
}

.col-2-detail img {
    max-width: 100%;
    padding: 50px 0;
}

.nameProduct {
    font-weight: 600;
}
img {
    width: 100%;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
    height: 128px;
    img {
        border-radius: 4px;
        height: 128px;
        object-fit: cover;
    }
}

// .single-product .col-2-detail img {
//     padding: 0;
// }

// .single-product .col-2-detail {
//     // padding: 20px;
// }

.col-2-detail h1 {
    font-style: 50px;
    // line-height: 20px;
    margin: 25px 0;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1.3px solid #a6a6a6;
    display: block;
    padding: 10px;
    margin-top: 20px;
    background-color: #f6f6f6;
    cursor: pointer;
    border-radius: 30px;
    width: 140px;
    font-weight: 600;
}

select:focus-visible {
    outline: none;
}

a.btn-buy-detail.buy-now {
    display: inline-block;
    background-color: $orange-color;
    color: $white-color;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    padding: 12px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    width: max-content;

    &:hover {
        opacity: 0.7;
        text-decoration: none;
    }
    @include md {
        padding: 12px 25px;
        // min-width: 190px;
    }
}

button.add-to-cart-detail-btn {
    background-color: transparent;
    border: 0;
    font-weight: 600;
}

.buy-now-detail-btn {
    background-color: $orange-color;
    border: 0;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    font-family: $font-primary;
}

.add-to-cart {
    display: inline-block;
    background-color: $white-color;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    width: max-content;
    border: 1px solid rgb(246, 95, 1);
    color: $orange-color;
    font-size: 15px;
    &:hover {
        opacity: 0.7;
        color: rgb(246, 95, 1) !important;
        text-decoration: none;
    }
    @include md {
        padding: 12px 25px;
    }
}

button.add-to-cart-detail-btn {
    color: $orange-color;
    font-size: 15px;
    font-family: $font-primary;
}

.delivery {
    width: 100%;
    border: 1px solid #a6a6a6;
    // border-radius: 4px;
    padding: 10px 10px;
    color: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h3 {
        font-size: 15px;
        color: #333;
        // font-weight: normal;
    }
    p {
        font-size: 15px;
        color: #333;
    }
}

.d1 {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.icon-ship {
    color: rgb(246, 95, 1);
    font-size: 18px;
    font-weight: 600;
    margin-right: 7px;
}

.detail__wrapper {
    display: flex;
    padding: 25px 20px;
    background-color: $white-color;
    margin-top: 20px;
    border-radius: 8px;
    gap: 30px;
}

.detail__wrapper-image {
    flex-basis: 40%;
    width: 100%;
}

.detail__wrapper-content {
    width: 100%;
    flex: 60%;
}

.detail__wrapper-name {
    font-size: 30px;
    padding: 15px 0;
    font-weight: 600;
    line-height: 1.4;
}

.detail__wrapper-price {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: $orange-color;
    padding-bottom: 15px;
    border-top: 1px solid #ebf0f9;
    padding-top: 15px;
}

.detail__wrapper-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ebf0f9;
    p {
        display: flex;
        align-items: center;
        color: $orange-color !important;
        gap: 5px;
    }
}
.detail__wrapper-icon {
    color: $orange-color;
    font-size: 18px;
}

.detail__wrapper-about {
    line-height: 1.7;
    padding-bottom: 15px;
    color: $gray-color !important;
}

.detail__wrapper-feature {
    padding-bottom: 15px;
    &-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4;
        color: $orange-color;
        margin-bottom: 7px;
    }
    &-items {
        line-height: 1.7;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $gray-color;
    }
    &-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

.detail__rating {
    display: block;
    width: 1100px;
    margin: 0 auto;
    background-color: $white-color;
    border-radius: 8px;
    margin-top: 20px;
    padding: 25px 20px;
    &-heading {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 20px;
    }
    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
    &-view {
        width: 40%;
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-top: 10px;
        }
        &-star {
            font-size: 20px;
        }
        &-score {
            font-size: 45px;
            span {
                font-size: 25px;
            }
        }
        &-total {
            text-transform: uppercase;
            background-color: #f2f2f2;
            padding: 3px 10px;
            font-size: 14px;
            border-radius: 15px;
        }
    }
    &-form {
        width: 60%;
        // background-color: #f2f2f2;
        &-heading {
            padding-top: 20px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 20px;
            text-align: center;
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-double {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 10px;
            div {
                width: 100%;
            }
        }
        &-label {
            margin-bottom: 5px !important;
            padding-top: 16px;
        }
        &-input {
            width: 100%;
            padding: 10px 20px;
            outline: none;
            border-radius: 6px;
            border: 1px solid rgb(223, 221, 221);
            font-family: $font-primary;
            font-size: 15px;
            background-color: $white-color;
        }
        &-star {
            font-size: 25px;
            // padding-bottom: 16px;
        }
    }
}

.button-rating {
    background-color: $orange-color;
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    padding: 12px 25px;
    border: none;
    color: $white-color;
    cursor: pointer;
    font-family: $font-primary;
    margin-top: 20px;
}

.detail__rating-list {
    border-top: 1px solid #ebf0f9;
    padding: 30px;
    margin-top: 30px;
    &-heading {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        // padding-bottom: 20px;
    }
    &-items {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-bottom: 1px solid #ebf0f9;
        padding: 20px 0;
    }
    &-user {
        display: flex;
        gap: 15px;
        align-items: center;
        // justify-content: center;
        width: 100%;
        img {
            width: 40px !important;
            height: 40px;
            object-fit: cover;
        }
        &-right {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        &-time {
            gap: 5px;
            display: flex;
            font-size: 14px;
            align-items: center;
        }
    }
    &-review {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.6;
    }
}

.detail__title-error {
    padding-top: 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 6px;
    color: $orange-color;
}

.btn-detail {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}
