.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    .popup-inner {
        position: absolute;
        padding: 0 30px 30px;
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;

        img {
            width: 95px;
            margin-top: -15%;
            padding: 0px;
            border-radius: 50%;
            // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        .title-thanks {
            font-size: 30px;
            font-weight: 600;
            margin: 30px 0 10px;
        }
        .decs-thanks {
            margin-top: 25px;
        }

        .close-btn-success {
            width: 100%;
            margin-top: 50px;
            padding: 10px 0;
            background-color: #6fd64a;
            color: #fff;
            border: 0;
            outline: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            font-weight: 700;
        }
    }
}
