.products-container {
    margin: 20px 0;
    @include md {
        margin: 20px 0;
    }
    .sec-heading {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        @include md {
            margin-bottom: 35px;
            font-size: 21px;
        }
        &:after {
            content: "";
            display: block;
            margin-top: 5px;
            width: 100px;
            height: 3px;
            background-color: $orange-color;
            @include md {
                margin-top: 10px;
            }
        }
    }
    .products {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        @include md {
            gap: 20px;
        }
    }
}

.layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
        max-width: 1100px;
    }
}

.Toastify__toast {
    box-shadow: 0px 0px #888888 !important;
}

.products-wrappper {
    background-color: $white-color;
    border-radius: 6px;
    padding: 25px 20px;
}

.product__select-wrapper {
    font-size: 16px;
    background-color: rgb(234, 237, 236);
    color: #333;
    border-radius: 6px;
    outline: none;
    padding: 6px 12px;
    margin-right: 7px;
    min-width: 70px;
    cursor: pointer;
    border: 1.5px solid rgb(234, 237, 236);
    margin-bottom: 20px;

    &:hover {
        background-color: rgb(207, 208, 208);
        border: 1.5px solid rgb(163, 164, 164);
    }
}
