@import "../../scss/styles.scss";

.category-main-content {
    margin: 30px 0;
    @include md {
        margin: 75px 0;
    }
    .layout {
        max-width: calc(100% - 20px);
        padding: 0;
        @include md {
            max-width: 1200px;
        }
    }
}
